@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
    margin: 0 auto;
    padding: auto;
    border: 0;
}

a:link, a:visited,  a:hover, a:active
{
    text-decoration: none;
}

input[type="button"]{
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

html {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
}
header {
    height: 1px;
    position: fixed;
    z-index: 2;
}
main{
    width: 100%;
    height: auto;
    margin: 0;
}
.first {
    order: 1;
}
.second {
    order: 2;
}
.nav{
    position: fixed;
    margin: 0;
    z-index: 2;
    display: flex;
    width: 100%;
    height: 70px;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    transition: background-color 0.2s linear;
}
.nav-alpha {
    background-color: #2f2721e0;
    transition: background-color 0.2s linear;
}
.navmenu,.logo {
    display: flex;
    align-items: center;
}
.logo{
    margin-left: 10vw;
}
.navmenu{
    margin-right: 10vw;
}
.navmenu ul {
    display: flex;
    justify-content: center;
    list-style: none;
    
}
.navmenu li > *{
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin: 0 20px;
    font-size: 0.85rem;
}
.landing{
    /* background-color: rgb(141, 149, 155); */
    height: 740px;
    background-image: url("../images/coffeemain.png");
}
.landcontent {
    padding-top: 20%;
    margin: 0 10vw;
    color: white;
    font-size: 2.4rem; 
}
.landcontent > *{
    margin-bottom: 20px;
}
.menubtn {
    display: inline-block;
    position: relative;
    width: 100px;
    font-size: 1rem;
    border: 1px solid #fab87b;
    border-radius: 10px;
    text-align: center;
    padding: 20px;

}
.menubtn:hover{
    background-color: #fab87b;
    color: #2f2721;
    cursor: pointer;
    transition: background-color 0.1s linear;
}
.menudrop{
    display: none;
    position: absolute;
    min-width: 120px;
    right: 0px;
    top: 60px;
    right: -1px;
    z-index: 1;
    background-color: #fab87b;
    border-radius: 0 0 10px 10px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.menudrop a{
    display: block;
    padding: 20px;
    text-align: left;
    color: #2f2721;    
}
.menudrop a:hover{
    color: white;
    background-color: #c4986f;
    transition: background-color 0.2s linear;
}
.ourcoffee section {
    margin-bottom: 10vh;
}
.separator {
    width: 20%;
    height: 10px;
    background-color: #fab87b;
    margin-bottom: 5vh;
}
.aboutdesc {
    display: flex;
    margin: 0 10vw;
    justify-content: space-evenly;
}
.aboutwrap {
    flex-basis: 50%;
    max-width: 100%;
    height: auto;
}
.aboutimg {
    position: relative;
    display: inline-block;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    overflow: hidden;
}
.aboutimg img {
    max-width: 100%;
    max-height: 100%;
    display: inline-block;
    position: absolute;
}
.desc {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}
.desc * {
    margin-bottom: 5%;
}
.desc h1 {
    margin-left: 0;
    font-size: 2.5rem;
}

.desc > p {
    text-align: justify;
    float: left;
    margin-left: 0;
    font-size: 0.9rem;
    color: rgb(133, 133, 133);
}
.separator-mini {
    width: 20%;
    height: 5px;
    background-color: #fab87b;
    margin-left: 0;
}

footer {
    background-color: #2f2721;
    color: white;
    width: 100%;
    height: auto;
}
.address {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 0 10vh

}
.address-content {
    padding-top: 10vh;
    padding-bottom: 10vh;

}
.address-content > * {
    margin-bottom: 5vh;
}
.address-content span {
    font-size: 2rem;
}
.address-content p {
    font-size: 0.85rem;
}
.special{
    background-color: #fab87b;
    position: relative;
}
.pointerwrap{
    position: absolute;
    top: 50%;
    left: 49vw;
    background-color: #fab87b;
    height: 40px;
    width: 40px;
    transform: rotate(45deg);
    z-index: -1;
}
.pointer{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 100px;

    background-color: black;
}
.specialties{
    display: flex;
    justify-content: center;
}
.speccoffee{
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: right;
    margin-right: 2vw;
}
.speccoffee > *{
    margin-right: 0;
    margin-bottom: 2vh;
    color: rgb(133, 133, 133);
    font-size: 0.85rem;
}
.speccoffee span{
    color: #fab87b;
    font-size: 1rem;
}
.speccoffee2{
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;

}
.speccoffee2 > *{
    margin-left: 0;
    margin-bottom: 2vh;
    color: rgb(133, 133, 133);
    font-size: 0.85rem;
}
.speccoffee2 span{
    color: #fab87b;
    font-size: 1rem;
}
.imgcoffee {
    flex-basis: 50%;
    margin-left: 2vw;
    position: relative;
    display: inline-block;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    overflow: hidden;

}
.imgcoffee img {
    max-width: 100%;
    max-height: 100%;
    display: inline-block;
    position: absolute;
}
.imgcoffee2 {
    flex-basis: 50%;
    margin-right: 2vw;
    
    position: relative;
    display: inline-block;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    overflow: hidden;
}
.imgcoffee2 img {
    margin-left: 22vw;
    max-width: 100%;
    max-height: 100%;
    display: inline-block;
    position: absolute;
}

/* responsive */

@media screen and (max-width: 768px){
    html {
        font-size: 14px;
    }
}
@media only screen and (max-width: 600px){
    html {
        font-size: 12px;
    }
}